/Release
/OnlyFortess
*.ipch
*.db-wal
*.opendb
*.db
*.db-shm
.vs/OnlyFortress/v16/.suo
*.obj
*.tlog
*.txt
*.log
*.pdb
*.idb
*.dll
*.ilk
*.ipdb
*.iobj
*.iobj
*.ipdb
*.exe
*.iobj
*.ipdb
Release/of.ipdb
Release/of.iobj
other_src_foranothergame
OnlyFortress/Release/necromancer.dll.recipe
.vs/OnlyFortress/v17/DocumentLayout.json
.vs/OnlyFortress/v17/.suo
.vs/OnlyFortress/FileContentIndex/26bda296-96e7-4533-9576-10b114c10ce6.vsidx
OnlyFortress/Release/necromancer.dll.recipe
OnlyFortress/Release/necromancer.dll.recipe
/OnlyFortress
.vs/OnlyFortress/FileContentIndex/02599844-15a5-4294-a2bb-c5a32a30c04b.vsidx
.vs/OnlyFortress/FileContentIndex/98ecc680-68d5-40ef-b464-d0f6dd7c4a1e.vsidx
.vs/OnlyFortress/FileContentIndex/bc609353-8107-4697-92a2-ce4c4002037a.vsidx
.vs/OnlyFortress/FileContentIndex/cec83aac-78dc-46cb-ac49-9e5029da3848.vsidx
.vs/OnlyFortress/v17/DocumentLayout.backup.json
