
*.ipch
*.db-wal
*.opendb
*.db
*.db-shm
.vs/OnlyFortress/v16/.suo
*.obj
*.tlog
*.txt
*.log
*.pdb
*.idb
*.dll
*.ilk
*.ipdb
*.iobj
*.iobj
*.ipdb
*.exe
*.iobj
*.ipdb
Release/of.ipdb
Release/of.iobj
/.vs/OnlyFortress/FileContentIndex
/.vs/OnlyFortress/v18
/.vs/OnlyFortress/copilot-chat/5567bd81/sessions/052eaf67-8ae9-4a2a-843d-5fa984599950
