/Release
/OnlyFortess
*.ipch
*.db-wal
*.opendb
*.db
*.db-shm
.vs/OnlyFortress/v16/.suo
*.obj
*.tlog
*.txt
*.log
*.pdb
*.idb
*.dll
*.ilk
*.ipdb
*.iobj
*.iobj
*.ipdb
*.exe
*.iobj
*.ipdb
Release/of.ipdb
Release/of.iobj
other_src_foranothergame
OnlyFortress/Release/necromancer.dll.recipe
.vs/OnlyFortress/v17/DocumentLayout.json
.vs/OnlyFortress/v17/.suo
.vs/OnlyFortress/FileContentIndex/26bda296-96e7-4533-9576-10b114c10ce6.vsidx
OnlyFortress/Release/necromancer.dll.recipe
OnlyFortress/Release/necromancer.dll.recipe
/OnlyFortress
.vs/OnlyFortress/FileContentIndex/02599844-15a5-4294-a2bb-c5a32a30c04b.vsidx
.vs/OnlyFortress/FileContentIndex/98ecc680-68d5-40ef-b464-d0f6dd7c4a1e.vsidx
.vs/OnlyFortress/FileContentIndex/bc609353-8107-4697-92a2-ce4c4002037a.vsidx
.vs/OnlyFortress/FileContentIndex/cec83aac-78dc-46cb-ac49-9e5029da3848.vsidx
.vs/OnlyFortress/v17/DocumentLayout.backup.json
.vs/OnlyFortress/FileContentIndex/229979a4-7fa4-4f2b-ba29-1b60e17f672f.vsidx
.vs/OnlyFortress/FileContentIndex/899e44ac-7f40-4251-9bff-870bc4b4c015.vsidx
.vs/OnlyFortress/FileContentIndex/9a11ace2-9f66-4835-9bd9-33d5397b8419.vsidx
.vs/OnlyFortress/FileContentIndex/ba31f9a7-f8c7-4a62-8d9b-6b4f3549b66a.vsidx
.vs/OnlyFortress/FileContentIndex/db0a28b9-005b-4456-8b91-524851337f9a.vsidx
.vs/OnlyFortress/v17/fileList.bin
.kiro/settings/mcp.json
.kiro/settings/mcp.json
.vs/OnlyFortress/FileContentIndex/1167177e-5db5-430b-ae00-884fe4dfcac6.vsidx
.vs/OnlyFortress/FileContentIndex/a5c7a4e3-f4bc-4942-9471-b8850f825748.vsidx
.vs/OnlyFortress/FileContentIndex/521d59e5-c600-4e81-b88c-6d1245fb75c7.vsidx
